
/* Contacto */
.contacto {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    margin-top: 40px;
    text-align: center;
  }
  
  .contacto h2 {
  font-size: 80px;
  margin-bottom: 20px;
  border: 2px;
  border-color:  rgb(124, 124, 255);;
  }

  .contacto-info{
    margin-bottom: 20px;
  }
  .contacto-info p {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold; 
    font-size: 20px;
   }

   .formulario {
    width: 500px;
      height:370px;
      margin:auto;
      padding: 20px ;
      border-radius: 5px;
      box-shadow: 0 3px 10px  rgb(124, 124, 255);
  
  }

  .formulario__label {
      line-height: 45px;
      font-size: 20px;
      color: black;
  }
  
  .formulario__grupo-input {
    position: relative;
  }
  
  .formulario__input {
    width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 5px;
      border: none;
      border: 2px outset rgb(124, 124, 255);
      font-size: 15px;
      outline: none;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
    transition: .3s ease all;
    text-align: center;
  }
  
  
  .formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
  
  .formulario__input-error-activo {
    display: block;
  }
  
  .formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
  }
  
  .formulario__mensaje {
    height: 20px;
    line-height: 45px;
    color:orangered;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
  }
  
  .formulario__mensaje-activo {
    display: block;
  }
  
  .formulario__mensaje p {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 15px;
  }
  
  .formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }  
  
  .formulario__btn {
    width: 100%;
      padding: 10px;
      margin: 10px 0;
      background-color: rgb(124, 124, 255); ;
      border: 2px solid  rgb(124, 124, 255);;
      border-radius: 5px;
      font-size: 15;
      font-weight: 700;
    transition: .1s ease all;
  }
  
  .formulario__btn:hover {
    background-color: orangered;
      border: 2px solid  rgb(124, 124, 255);
      cursor: pointer;
  }
  
  .formulario__mensaje-exito {
    font-size: 14px;
    color: black;
    background-color:  rgb(124, 124, 255);
    display: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
  
  .formulario__mensaje-exito-activo {
    display: block;
  }
  
  /* ----- -----  Estilos para Validacion ----- ----- */
  .formulario__grupo-correcto .formulario__validacion-estado {
    color:  rgb(124, 124, 255);
    opacity: 1;
  }
  
  .formulario__grupo-incorrecto .formulario__label {
    color: orangered;
  }
  
  .formulario__grupo-incorrecto .formulario__validacion-estado {
    color: orangered;
    opacity: 1;
  }
  
  .formulario__grupo-incorrecto .formulario__input {
    border: 3px solid orangered;
  }

  @media screen and (max-width: 600px){
    .body_move{
        margin-left: 0px;
    }

    .formulario__label{
      background-color:rgb(174, 174, 253) ;
      margin: 5px;
      padding: 5px;
      font-size: 20px;
      border:1px solid rgb(72, 72, 212);

    }
    .titulo h2{
      font-size: 40px;
    }
    .titulo h3{
      font-size: 15px;
    }
    
    .titulo h4{
      font-size: 10px; 
    }
}

@media screen and (max-width: 850px){
  .body_move{
      margin-left: 0px;
  }

  .formulario{
    background-color:rgb(198, 198, 255) ;
  }
  .formulario__btn {
    background-color: white;
  }
  
  .titulo p{
    font-size: 15px;
    text-align: center;
  
  }
  
}
@media screen and (max-width: 1300px){
  .body_move{
      margin-left: 0px;
  }

  .formulario {
    max-width: 900px;
    display: inline-block;
  }
}
