@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Silkscreen' ;
}

body{
    margin-left: 80px;
    margin-top: 80px;
    /*Transición*/
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

header{
    width: 100%;
    height: 80px;
    background:black;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}
/*Titulos y párrafo normalizados*/
.titulo h2{
  font-size: 80px;
  margin-bottom: 20px;
  text-align: center;
}
.titulo h3{
  font-size: 40px;
}

.titulo p{
  font-family:'Courier New', Courier, monospace;
  font-weight: bold; 
  font-size: 15px;
  text-align: center;
  padding: 5px;
  margin: 5px;

}

.titulo h4{
  font-size: 20px; 
}

@media all and (max-width: 600px){
    .body_move{
        margin-left: 0px;
    }
    .titulo h2 {
      font-size: 20px;
      background-color:  rgb(124, 124, 255); 
    }
    .titulo h3 {
      font-size: 15px;
    }
    
    .titulo p {
      font-size: 5px;
      text-align: left;
    }
    
    .titulo h4{
      font-size: 5px; 
      text-align: left;
    }
}

@media all and (max-width: 850px){
  .body_move {
      margin-left: 0px;
  }
  .titulo h2{
    display: inline-block;
    font-size: 40px;
    background-color:  rgb(124, 124, 255);
    padding-left: 50px;
    padding-right: 50px;
  }
  .titulo h3{
    font-size: 15px;
  }
  
  .titulo p{
    font-size: 12px;
    text-align: left;
  
  }
  
  .titulo h4{
    font-size: 10px; 
  }
  
}
@media all and (max-width: 1300px){
  .body_move{
      margin-left: 0px;
  }

}
