/* Footer */
.footer{
  position:relative;
    bottom:0;
    clear:both;
   text-align:center;
    margin-bottom: 0px;
    margin-top: 2px;
    width: 100%;
     padding: 0px;
    background-color: black;
}
.footer p {
    background-color: black;
    text-align: center;
    margin: 0px;
    color: white;
  }
  /* Footer (fin) */