/* Productos  */
.productos {
    margin: auto;
    margin-top: 20px;
    }
    
  .productos-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  
  .productos-container{
    display:flex;
    justify-content: space-evenly;
     flex: 3 2 1 auto;
     flex-flow: row wrap;  
  }
  .producto-precio{
    display: inline-block;
    padding: 5px;
  }

  .productos-header img {
    padding: 20px;
    align-items: center;

  }

  .productos-container img {
    width: 200px;
    height: 200px;
    border:20px solid rgb(124, 124, 255);
  }
  /* Productos (fin) */

  @media all and (max-width: 600px){
  
    .productos-container{
      display: flex;
      margin: 2px 2px 2px 2px;
      justify-content: space-around;
    }
    .productos{
      display:block;
    }
     .productos-header{
      display: flex;
      justify-content: space-around;
     }
    .productos-header img {
      width: 50%;
    }
}

@media all and (max-width: 850px){
  
  .productos-container{
    display: flex;
    margin: 2px 2px 2px 2px;
    justify-content: center;
  }  
}
@media all and (max-width: 1300px){
  .productos{
    display:block;
  }
}
