/* Productos  */
.productos {
    margin: auto;
    margin-top: 20px;
    }
    
  .productos-header {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
  }
  
  .productos-container{
  display:flex;
  justify-content: space-evenly;
   grid-row-start: 1;
   grid-row-end: 4;
  
  }
  
  .productos-header img {
    padding: 20px;
    align-items: center;
    
  }

  .productos-container img {
    width: 200px;
    height: 200px;
    border:20px solid rgb(124, 124, 255);
  }
  /* Productos (fin) */

  @media screen and (max-width: 400px){
  
    .productos-container{
      display: block;
      margin: 2px 2px 2px 2px;
      justify-content: center;
    }
    .productos{
      display:block;
    }
    .contacto-form-container {
      max-width: 300px;
      display: block;
    }
}

@media screen and (max-width: 850px){
  
  .productos-container{
    display: block;
    margin: 2px 2px 2px 2px;
    justify-content: center;
  }  
}
@media screen and (max-width: 1300px){
  .productos{
    display: block;
  }
}
