  /* Redes sociales */
  .redes {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
    background-color: black;
  }
  
  .redes-icon {
    width: 30px;
    height: 30px;
  }
  /* Redes sociales (fin) */

  /*Whatsapp*/
  .whatsapp{
    position: fixed;
    left: 10%;
    bottom: 10%;
    background-color: transparent;
  }
  
  .whatsappicon {
    width: 80px;
    height: 80px;
    opacity:0.8;

  }
  /*Fin whatsapp*/
  
  @media screen and (max-width: 400px){
   .redes{
     display: table-row;
    bottom: 100px;
   }
 }
 
 @media screen and (max-width: 850px){
   
   
 }
 @media screen and (max-width: 1300px){
  
 }
 