/*Tecnología*/
.tecnología {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }

  .impresora a {
    font-size: 15px;
  }
   
  .impresora img {
    padding: 20px;
    width: 500px;
    border:20px solid rgb(124, 124, 255);
  }
  
  .tecnologia-impresoras{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.impresora { 
  flex-grow: 5;
  flex-shrink: 5;
  flex-basis: 0;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  row-gap: 10px;
}
.impresora h3{
  text-align: center;
  font-size: 30px;
  background-color: rgb(124, 124, 255);
}

.impresora p{
  text-align: left;
  font-size: 20px;
}
/*Fin tecnología*/
@media all and (max-width: 1300px){
  .tecnologia-impresoras{
    display: block;
  }
 } 
 
 @media all and (max-width: 850px){
  .impresora img {
    padding: 10px;
    width: 300px;
    border:10px solid rgb(124, 124, 255);
  }
  .impresora p{
    font-size: 15px;
  }
 }
 @media all and (max-width: 600px){
  .impresora img {
    padding: 20px;
    width: 150px;
    border:5px solid rgb(124, 124, 255);
  }
  .impresora p{
    font-size: 10px;
  }
 }
 

