@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

/* Variables */
:root {
  --font-family:'Silkscreen';
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --color-primario: #0821fdec;
  --color-secundario: #ff5b15;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
.body {
background-color: black;
}
/* Variables (fin) */

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-primario);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

section {
  /* max-width: 1100px;
  margin: auto; */
}

/* Barra de navegación */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  background-color: black;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: var(--color-primario);
  display: flex;
 justify-content: space-evenly;
  
}

nav a {
  color: var(--color-primario);
  transition: var(--transition);
  font-size: 22px;
}
nav a:hover {
  color: var(--color-secundario);
  border-bottom: 2px solid var(--color-secundario);
}

nav ul {
  display: flex;
  gap: 2rem;
justify-content: space-evenly;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--color-primario);
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
/* Fin de Barra de navegación */

/* Seccion inicio */
.inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
  background-color: black;
}

.inicio img {
  width: 98%;
}

.bio {
  width: 80rem;
  padding: 0.65rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}
.bio h2 {
color: white;
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
  color: white;
}
/* Sección inicio (fin) */

/* Servicios */
.servicios {
  background-color: var(--bg-color);
  padding: 1rem 6rem;
}

.servicios h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}
.servicos .servicios-cont {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.servicios p {
  line-height: var(--line-height);
  padding: 0.4rem;
}
/* Servicos (fin)*/

/* Productos  */
.productos {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
  text-align: center;
  }
 
.productos h2 {
  font-size: 50px;
}
.productos p {
  font-family:'Courier New', Courier, monospace;
  
 }


.productos-header {
  margin-bottom: 1rem;
}

.productos-container{
display: flex;
justify-content: space-evenly;
}

.productos-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}
/* Productos (fin) */

/* Tecnología  */
.tecnología {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.tecnología h2 {
  font-size: 50px;
}

.tecnología p {
 font-family:'Courier New', Courier, monospace;
 
}


.tecnología-img img {
  padding: 1.25rem;
  width: 30%;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}
/* Tecnología (fin) */

/* Aplicaciones*/
.aplicaciones {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.aplicaciones-pic {
  width: 65%;
  height: 60%;
}

.aplicaciones-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aplicaciones-title {
  text-align: center;
  margin-bottom: 1rem;
}

.aplicaciones-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.aplicaciones-container p {
  padding: 0.4rem;
}

.aplicaciones-title{
  margin-bottom: var(--bottom-margin);
}

.aplicaciones-details {
  margin-bottom: var(--bottom-margin);
}

/* Aplicaciones (fin) */

/* Contacto */
.contacto {
  margin-top: 2rem;
}

.contacto h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contacto-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contacto-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contacto-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contacto-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
/* Contacto (fin) */

/* Redes sociales */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
  background-color: black;
}

.socicon {
  width: 2rem;
  height: 2rem;
}
/* Redes sociales (fin) */

/* Scroll to top button */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}
/* Scroll to top button ends */

/* Footer */
footer {
  background-color: black;
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
  color: white;
}
/* Footer (fin) */

/* General */
.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    width: 30rem;
  }

  .bio {
    margin-top: -7rem;
    width: 20.5rem;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }
}

@media screen and (max-width: 420px) {
  .hero img {  
      width: 23rem;
  }

  .bio {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
}